name: "godot-ci build"

on:
  push: { "main" , "feature/gh-action-build-test" }
  #if you want to build on pull request uncomment bellow
  #pull_request: { "main" }

# if a new push is done on the current branch. cancel previous build
concurrency:
  group: ${{ github.ref }}-build
  cancel-in-progress: true

# NOTE: If your `project.godot` is at the repository root, set `PROJECT_PATH` below to ".".

env:
  GODOT_VERSION: 4.3 # Do not change unless well tested. we had issue with 4.4
  EXPORT_NAME: Mina-Rhythm
  PROJECT_PATH: "."

jobs:
  export-windows:
    name: Windows Export
    runs-on: ubuntu-22.04  # Use 22.04 with godot 4
    container:
      image: barichello/godot-ci:4.3
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true
      - name: Setup
        run: |
          mkdir -v -p ~/.local/share/godot/export_templates/
          mkdir -v -p ~/.config/
          mv /root/.config/godot ~/.config/godot
          mv /root/.local/share/godot/export_templates/${GODOT_VERSION}.stable ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable
      - name: Windows Build
        run: |
          mkdir -v -p build/windows
          EXPORT_DIR="$(readlink -f build)"
          cd $PROJECT_PATH
          godot --headless --verbose --export-release "Windows Desktop" "$EXPORT_DIR/windows/$EXPORT_NAME.exe"
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.EXPORT_NAME }}-Windows
          path: build/windows

  export-linux:
    name: Linux Export
    runs-on: ubuntu-22.04  # Use 22.04 with godot 4
    container:
      image: barichello/godot-ci:4.3
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true
      - name: Setup
        run: |
          mkdir -v -p ~/.local/share/godot/export_templates/
          mv /root/.local/share/godot/export_templates/${GODOT_VERSION}.stable ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable
      - name: Linux Build
        run: |
          mkdir -v -p build/linux
          EXPORT_DIR="$(readlink -f build)"
          cd $PROJECT_PATH
          godot --headless --verbose --export-debug "Linux" "$EXPORT_DIR/linux/$EXPORT_NAME.x86_64"
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.EXPORT_NAME }}-Linux
          path: build/linux


  release:
    name: Release
    runs-on: ubuntu-22.04
    needs: [export-linux, export-windows]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v4

      # we will be using the small commit hash as part of the tag
      - name: Get small commit hash
        run: echo "SMALL_COMMIT_HASH=$(git rev-parse --short ${{ github.sha }})" >> $GITHUB_ENV

      - name: Display structure of downloaded files
        run: ls -R

      - name: release
        uses: softprops/action-gh-release@v2
        with:
          draft: false
          prerelease: true
          generate_release_notes: true
          target_commitish: ${{ github.sha }}
          name: dev-${{ env.SMALL_COMMIT_HASH }}
          tag_name: dev-${{ env.SMALL_COMMIT_HASH }}
          body_path: CHANGELOG.md
          files: |
            ${{ env.GITHUB_WORKSPACE }}/${{ env.EXPORT_NAME }}-Linux.zip
            ${{ env.GITHUB_WORKSPACE }}/${{ env.EXPORT_NAME }}-Windows.zip